---
name: Multi-Cloud Deploy
on:
  push:
    branches:
      - main
jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ap-south-1
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
      - name: Create GCP Key File
        run: |
          printf '%s' "${{ secrets.GCP_CREDENTIALS }}" > gcp-key.json
      - name: Terraform Init
        run: terraform init
      - name: Terraform Plan
        run: |
          terraform plan \
          -var="gcp_project_id=${{ secrets.GCP_PROJECT_ID }}" \
          -var="gcp_credentials_file=gcp-key.json" \
          -out=tfplan
      - name: Upload Plan artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: tfplan
          
